configuration {
    show-icons: true;
    modi: "drun";
    drun-show-actions: true;
    fuzzy: true;
}

* {
    font: "monospace 12";
    location: 0;
    y-offset: 0;
    x-offset: 0;
    width: 50%;
    lines: 10;
    padding: 5;
    line-padding: 2;
    borderwidth: 2;
    separator-style: "solid";
    hide-scrollbar: true;
    fixed-num-lines: true;
    show-icons: true;
    sidebar-mode: false;
    auto-select: false;
    parse-hosts: false;
    parse-known-hosts: false;
    ssh-set-title: false;
    disable-history: false;
    levenshtein-sort: false;
    case-sensitive: false;
    sort: false;
    cycle: true;
    sidebar-mode: false;
    initial-visibility: false;  // Ensure this option is set
}

