<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="root-menu" label="Openbox 3">
<separator label="GreenBANG" />
<item label="Terminal">
   <action name="Execute">
      <command>alacritty</command>
   </action>
</item>
<item label="Browser">
   <action name="Execute">
      <command>firefox https://archbang.org/</command>
   </action>
</item>
<item label="File Manager">
   <action name="Execute">
      <command>thunar</command>
   </action>
</item>
<item label="Editor">
   <action name="Execute">
      <command>l3afpad</command>
   </action>
</item>
<!-- gbinstall 5 -->
<item label="Install">
   <action name="Execute">
      <command>alacritty --title "GreenBang-Installer" -e sudo ~/GB_Scripts/gbinstall</command>
   </action>
</item>
<separator />
<menu id="applications" label="Applications" execute="xdg_menu --format openbox3-pipe --root-menu /etc/xdg/menus/arch-applications.menu" />
<separator />

<menu id="settings_menu" label="Settings">
   <item label="Appearance">
    <action name="Execute">
      <command>lxappearance</command>
    </action>
  </item>
  <item label="GParted">
    <action name="Execute">
		<command>sudo gparted</command>
    </action>
  </item>
<item label="System">
    <action name="Execute">
      <command>alacritty --title "System-Information" -e btm</command>
    </action>
  </item>
 <item label="Panel">
    <action name="Execute">
      <command>l3afpad ~/.config/polybar/config.ini</command>
    </action>
  </item>
   <item label="Reconfigure">
    <action name="Execute">
      <command>openbox --reconfigure</command>
    </action>
  </item>
</menu>

<menu id="exit_menu" label="Exit">
 <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
<item label="Reboot">
    <action name="Execute">
      <command>systemctl reboot</command>
    </action>
 </item>
<item label="Poweroff">
    <action name="Execute">
      <command>systemctl poweroff</command>
    </action>
 </item>
</menu>    

</menu>
 
</openbox_menu>


